/* top section  */

body {
    margin: 0px;
    padding: 0px;
    /* width: 100%;
    height:100vh; */
    background-color: black;
    font-family: arial; 
}

header {
    width: 100%;
    height: 80px;
    background: black;
    position: fixed;
    /* box-sizing: border-box; */
}


.header-text {
    display: flex;
    flex-direction: column;
    width:100vw;
    /* justify-content: space-around; */
    /* margin: auto;
    padding: 0px;  */
    
}

.home-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.home-nav img {
    float: left;
}

.home-nav, h4 {
    color: white;
    font-size: small;
    float: right;
    margin: 10px;
}

.image-label-box {
    width: 100%;
    height: 170px;
    background: black; 
}

h1 {
    padding: 30px;
    font-size: 30px;
    color: white
    
}

button {
    float: right;
    font-size: small;
    background-color: lightgrey;
}

.image-label-baseline {
    display: flex;
    justify-content: baseline;
    justify-content: space-evenly;
    color: white;
    font-size: small;
}

/* end of top section

beginning of middle section
*/

.info-section {
    height: 1200px;
    width: 100%;
    background-color: white;
    
}

.banner-text{
    height: 100px;
    width: 100%;
    background-color: rgb(250, 249, 248);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 0px;
}

.banner-text, h1 {
    color: black;
    font-size: large;
    
}

/* A note on the content-boxes PLEASE READ
I know that best practice is to not repeat things in CSS
but rather to make a big container that will govern all the little ones
in the same way. I have tried many ways to get this to work in this
section but I just could not figure out how to get the shadow box to 
apply to each box individually AND have the flex settings work properly. 
So, I opted for making separate containers for each box and applying the 
settings that way, though I know that it makes my code a little long
and redundant. Here's to learning how to do CSS!

*/

.content-boxes {
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.box-1 {
    padding:20px;
    box-shadow: 0px 0px 30px #6d6c6c;
    width:300px;
    height: 400px;
    font-size: 16px;
    position: relative;
    margin:20px
    
}

.box-2 {
    padding:20px;
    box-shadow: 0px 0px 30px #6d6c6c;
    width:300px;
    height: 400px;
    font-size: 16px;
    position: relative;
    margin:20px
}

.box-3 {
    padding:20px;
    box-shadow: 0px 0px 30px #6d6c6c;
    width:300px;
    height: 400px;
    font-size: 16px;
    position: relative;
    margin:20px
}

h5 {
    color: navy;
    font-size: x-small;
    
}

/* end of middle section

beginning of bottom section */

footer {
    height: 50px;
    width: 100%;
    background-color: black;
    
    
}

.footer-text {
    font-size: xx-small;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    
}
